*.o
*.dSYM
*.csv
*.out
*.png
*.jpg
*.pyc
old/
mnist/
caffe/
grasp/
images/
opencv/
convnet/
decaf/
submission/
cfg/
darknet
.fuse*
libdarknet.a
libdarknet.so
yolov2-face-tiny-voc_final.weights
yolov3-tiny.weights
backup
bad.list

# OS Generated #
.DS_Store*
ehthumbs.db
Icon?
Thumbs.db
*.swp
